:host {
  display: block;
  border: 1px solid black;
  padding: 0 2%;
  max-width: max-content;
}

h2 {
  text-align: center;
}

.radio {
  padding: 2% 0 5% 0;
}

table {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

table td {
  padding: 3% 0;
  margin-right: 5%;
}

table input {
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px lightgray;
  border-radius: 0.15rem;
  text-align: right;
}

table input:disabled {
  background: lightgray;
  border-color: lightgray;
  box-shadow: none;
}

.submit {
  padding: 1%;
  text-align: center;
}

.submit button {
  width: 40%;
  padding: 0.5%;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}
