:host {
  display: block;
  border: 2px solid lightblue;
  margin: 0 25%;
}

h2 {
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
}

table td {
  padding: 1%;
}

table input {
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px lightgray;
  border-radius: 0.15rem;
  text-align: right;
}

table input:disabled {
  background: lightgray;
  border-color: lightgray;
  box-shadow: none;
}

.submit {
  padding: 1%;
  text-align: center;
}

.submit button {
  width: 40%;
  padding: 0.5%;
}

.center {
  text-align: center;
}
